footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    width: 100vw;
}